In [4]:
import  pandas as pd
import numpy as np
import os

os.chdir('E:/excise/python/new_project01/com/data_analysis/pandas/excise')

In [10]:
marketing = pd.read_csv('../data/market/DirectMarketing.csv')
groceries = pd.read_csv('../data/market/Groceries_dataset.csv')

print(marketing.head())
marketing.info()

      Age  Gender OwnHome  Married Location  Salary  Children History  \
0     Old  Female     Own   Single      Far   47500         0    High
1  Middle    Male    Rent   Single    Close   63600         0    High
2   Young  Female    Rent   Single    Close   13500         0     Low
3  Middle    Male     Own  Married    Close   85600         1    High
4  Middle  Female     Own   Single    Close   68400         0    High

   Catalogs  AmountSpent
0         6          755
1         6         1318
2        18          296
3        18         2436
4        12         1304
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1000 non-null   object
 1   Gender       1000 non-null   object
 2   OwnHome      1000 non-null   object
 3   Married      1000 non-null   object
 4   Location     1000 non-null   object
 5   Salary       1000 non-null   int64
 6   Children     1000 non-null   int64
 7   History      697 non-null    object
 8   Catalogs     1000 non-null   int64
 9   AmountSpent  1000 non-null   int64
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [19]:
# 2、使用 astype 更改数据类型

# groceries['Date'] = groceries['Date'].astype('datetime64')
# 2.2 使用 to_datetime 方式
groceries['Date'] = pd.to_datetime(groceries['Date'])


print(groceries.head(10),groceries.dtypes)

   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-05-01        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-01-02        whole milk
5           4941 2015-02-14        rolls/buns
6           4501 2015-08-05  other vegetables
7           3803 2015-12-23        pot plants
8           2762 2015-03-20        whole milk
9           4119 2015-12-02    tropical fruit Member_number               int64
Date               datetime64[ns]
itemDescription            object
dtype: object

In [23]:
# 我们可以在读取数据时为日期分配适当的数据类型。这将使我们不必在以后更改数据类型。
gr_df = pd.read_csv('../data/market/Groceries_dataset.csv',parse_dates=['Date'])
print(gr_df.info(), gr_df.head(10), sep='\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  datetime64[ns]
 2   itemDescription  38765 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 908.7+ KB
None
   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-05-01        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-01-02        whole milk
5           4941 2015-02-14        rolls/buns
6           4501 2015-08-05  other vegetables
7           3803 2015-12-23        pot plants
8           2762 2015-03-20        whole milk
9           4119 2015-12-02    tropical fruit

In [33]:
# 5、使用 isin 方法进行筛选
bool_filter_s = gr_df['Member_number'].isin(['1080', '4471', '3037'])  # 返回的是一个 bool_series
filter_df = gr_df.loc[bool_filter_s]  # df使用 loc 作为 boolean 的筛选
print(filter_df.head(), filter_df.shape,sep='\n')

       Member_number       Date  itemDescription
4               3037 2015-01-02       whole milk
1232            3037 2015-02-23  cling film/bags
1353            4471 2015-02-28           coffee
3502            1080 2015-05-14  root vegetables
11517           4471 2014-08-10       whole milk
(19, 3)

In [31]:
# ~ 取反 处理
negation_s = ~gr_df['Member_number'].isin(['1080', '4471', '3037'])
filter_df2 = gr_df.loc[negation_s]
print(filter_df2.shape, gr_df.shape)

(38746, 3) (38765, 3)

In [40]:
# value_counts是最常用的函数之一。它计算每个值的匹配次数并返回一个序列。如果与规范化参数一起使用，我们会获得发生百分比的概览。
marketing['Catalogs'].value_counts(normalize=True)   # 出现的频率  百分比

12    0.282
6     0.252
24    0.233
18    0.233
Name: Catalogs, dtype: float64

In [43]:
# 重置索引
# 默认情况下，Pandas 会为数据框分配整数索引，但我们也可以使用"索引"函数set_index。
# 例如，我们可以将日期列设置为数据框的索引。

gr_df.set_index(gr_df['Date'],inplace=True)
print(gr_df.head(10), gr_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 38765 entries, 2015-07-21 to 2014-12-26
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  datetime64[ns]
 2   itemDescription  38765 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.2+ MB
            Member_number       Date   itemDescription
Date
2015-07-21           1808 2015-07-21    tropical fruit
2015-05-01           2552 2015-05-01        whole milk
2015-09-19           2300 2015-09-19         pip fruit
2015-12-12           1187 2015-12-12  other vegetables
2015-01-02           3037 2015-01-02        whole milk
2015-02-14           4941 2015-02-14        rolls/buns
2015-08-05           4501 2015-08-05  other vegetables
2015-12-23           3803 2015-12-23        pot plants
2015-03-20           2762 2015-03-20        whole milk
2015-12-02           4119 2015-12-02    tropical fruit None

In [46]:
# unique 函数返回列中唯一值的数组。
gr_df.itemDescription.unique()[:5]

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns'], dtype=object)

In [59]:
# sample 函数可用于创建数据帧的随机样本。在机器学习中处理不平衡数据集时，它会派上用场。

# print(marketing.head(10))
sampled_mrk = marketing[marketing.AmountSpent < 300].sample(n=400,replace=True)
sampled_mrk.shape
print(sampled_mrk.tail())

        Age  Gender OwnHome Married Location  Salary  Children History  \
289   Young  Female    Rent  Single    Close   14500         1     Low
821   Young  Female     Own  Single    Close   32600         3     Low
479  Middle  Female     Own  Single    Close   35200         2     Low
422   Young  Female    Rent  Single    Close   11500         3     NaN
436  Middle    Male     Own  Single    Close   49200         3     Low

     Catalogs  AmountSpent
289         6          183
821        12          172
479         6          233
422         6          157
436        12          210

In [61]:

# 合并集合
# 我们可以水平或垂直地将数据帧与串联函数串联。
marketing_concat = pd.concat([marketing,sampled_mrk], axis=0)
marketing_concat.shape

(1400, 10)

In [65]:
# 13、按索引选择行和列的范围
# 我们可以选择前 4 行和前 3 列
print(marketing_concat.iloc[:4,:3])

      Age  Gender OwnHome
0     Old  Female     Own
1  Middle    Male    Rent
2   Young  Female    Rent
3  Middle    Male     Own

In [69]:
# iloc 函数还接受值数组而不是范围。我们可以传递一个列表或数字数组。
row_index = np.random.randint(10,100,10)
print(marketing_concat.iloc[row_index, [1,3,4]])

    Gender  Married Location
28  Female  Married    Close
30  Female  Married    Close
92    Male  Married    Close
22  Female  Married      Far
14  Female  Married      Far
49  Female  Married    Close
52  Female  Married    Close
57    Male  Married    Close
48    Male  Married    Close
19  Female   Single      Far

In [72]:
# loc 函数与 iloc 函数一样，但它接受标签而不是索引
print(marketing_concat.loc[:,['Gender', 'Location']])

     Gender Location
0    Female      Far
1      Male    Close
2    Female    Close
3      Male    Close
4    Female    Close
..      ...      ...
414    Male      Far
531  Female    Close
365  Female    Close
83   Female    Close
132    Male    Close

[1400 rows x 2 columns]

In [89]:
# 16、从日期提取年和月
gr_df['month'] = gr_df['Date'].dt.month
gr_df['year'] = gr_df['Date'].dt.year

# month 不足 2位的前面补零
gr_df.month.astype(np.str_).map(lambda x: '0'+x if len(x)<2 else x)

# print(gr_df.head(10))

Date
2015-07-21    07
2015-05-01    05
2015-09-19    09
2015-12-12    12
2015-01-02    01
              ..
2014-08-10    08
2014-02-23    02
2014-04-16    04
2014-03-12    03
2014-12-26    12
Name: month, Length: 38765, dtype: object

In [120]:
# 删除行 或列

# 1 列， 0行
# gr_df.drop('month', inplace=True, axis=1)
print(gr_df.tail(10))

# 删除 行
# gr_df.drop(index='2014-09-26', axis=0,inplace=True)
# print(gr_df.tail(10))
# gr_df.drop('year', inplace=True, axis=1)
# gr_df.drop(labels=)

# 确定  要删除的index
# drop_index = gr_df.shape[0]-10
# gr_df.iloc[gr_df.shape[0]-10]
# gr_df.drop(labels=[1], inplace=True)
# gr_df.set_index(np.array(range(0, gr_df.shape[0])), drop=False, inplace=True)

# gr_df.drop(labels=[38755], inplace=True)
# gr_df.index = gr_df.reindex()
# print(gr_df.tail(10))

       Member_number       Date           itemDescription
38754           4796 2014-02-03     Instant food products
38755           1987 2014-10-29     fruit/vegetable juice
38756           4376 2014-07-12                rolls/buns
38757           2511 2014-06-18  long life bakery product
38758           3364 2014-06-05                       oil
38759           4471 2014-08-10             sliced cheese
38760           2022 2014-02-23                     candy
38761           1097 2014-04-16                  cake bar
38762           1510 2014-03-12     fruit/vegetable juice
38763           1521 2014-12-26                  cat food

In [124]:
# 插入列：如果将年和月份列放在日期列之前，则它们可能更好。我们可以使用插入函数来完成此任务
print(gr_df.info())
s_year = gr_df.Date.dt.year 
s_month = gr_df.Date.dt.month 

gr_df.insert(0,'year',s_year)
gr_df.insert(1,'month',s_month)

print(gr_df.head(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38764 entries, 0 to 38763
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38764 non-null  int64
 1   Date             38764 non-null  datetime64[ns]
 2   itemDescription  38764 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.2+ MB
None
   year  month  Member_number       Date   itemDescription
0  2015      7           1808 2015-07-21    tropical fruit
1  2015      5           2552 2015-05-01        whole milk
2  2015      9           2300 2015-09-19         pip fruit
3  2015     12           1187 2015-12-12  other vegetables
4  2015      1           3037 2015-01-02        whole milk
5  2015      2           4941 2015-02-14        rolls/buns
6  2015      8           4501 2015-08-05  other vegetables
7  2015     12           3803 2015-12-23        pot plants
8  2015      3           2762 2015-03-20        whole milk
9  2015     12           4119 2015-12-02    tropical fruit

In [138]:
# 替换值
month_names = {1:'January', 2:'February', 3:'March', 4:'April',5: 'May', 6:'June', 7:'July', 8:'August', 9:'September',10:'October', 11:'November', 12:'December'}

# gr_df['month']=gr_df.month.map(month_names)

# print(gr_df.head(10))

# gr_df.Date.dt.month_name().unique()

# 2. 简单的方式
gr_df['month_en'] = gr_df.Date.dt.month_name()
print(gr_df.head(10))

   year      month  Member_number       Date   itemDescription   month_en
0  2015       July           1808 2015-07-21    tropical fruit       July
1  2015        May           2552 2015-05-01        whole milk        May
2  2015  September           2300 2015-09-19         pip fruit  September
3  2015   December           1187 2015-12-12  other vegetables   December
4  2015    January           3037 2015-01-02        whole milk    January
5  2015   February           4941 2015-02-14        rolls/buns   February
6  2015     August           4501 2015-08-05  other vegetables     August
7  2015   December           3803 2015-12-23        pot plants   December
8  2015      March           2762 2015-03-20        whole milk      March
9  2015   December           4119 2015-12-02    tropical fruit   December

In [144]:
# 累计和： 累积函数允许基于上一行的值 累积总和创建列。

print(marketing_concat['AmountSpent'])
marketing_concat['CumsumAmount'] = marketing_concat['AmountSpent'].cumsum()
print(marketing_concat.head(10))

0       755
1      1318
2       296
3      2436
4      1304
       ...
414     192
531      47
365     199
83      258
132     176
Name: AmountSpent, Length: 1400, dtype: int64
      Age  Gender OwnHome  Married Location  Salary  Children History  \
0     Old  Female     Own   Single      Far   47500         0    High
1  Middle    Male    Rent   Single    Close   63600         0    High
2   Young  Female    Rent   Single    Close   13500         0     Low
3  Middle    Male     Own  Married    Close   85600         1    High
4  Middle  Female     Own   Single    Close   68400         0    High
5   Young    Male     Own  Married    Close   30400         0     Low
6  Middle  Female    Rent   Single    Close   48100         0  Medium
7  Middle    Male     Own   Single    Close   68400         0    High
8  Middle  Female     Own  Married    Close   51900         3     Low
9     Old    Male     Own  Married      Far   80700         0     NaN

   Catalogs  AmountSpent  CumsumAmount
0         6          755           755
1         6         1318          2073
2        18          296          2369
3        18         2436          4805
4        12         1304          6109
5         6          495          6604
6        12          782          7386
7        18         1155          8541
8         6          158          8699
9        18         3034         11733