In [8]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'A':range(3), 'D': range(3,6)})
print(df)

   A  D
0  0  3
1  1  4
2  2  5

In [5]:
trans_ret = df.transform(lambda x:  x+10)
print(trans_ret)

    A   D
0  10  13
1  11  14
2  12  15

In [10]:
s = pd.Series(range(5))
ret  = s.transform([np.sqrt, np.exp])
print(ret, s, sep='\n')

       sqrt        exp
0  0.000000   1.000000
1  1.000000   2.718282
2  1.414214   7.389056
3  1.732051  20.085537
4  2.000000  54.598150
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [28]:
df = pd.DataFrame({
    "Date": [
        "2015-05-08", "2015-05-07", "2015-05-06", "2015-05-05",
        "2015-05-08", "2015-05-07", "2015-05-06", "2015-05-05"],
    "Data": [5, 8, 6, 1, 50, 100, 60, 120],
})

print(df)

         Date  Data
0  2015-05-08     5
1  2015-05-07     8
2  2015-05-06     6
3  2015-05-05     1
4  2015-05-08    50
5  2015-05-07   100
6  2015-05-06    60
7  2015-05-05   120

In [34]:
# for val,vv in df.groupby('Date')['Data'].transform('count'):
#     print(val)
#     print(vv)

g_ret = df.groupby('Date')['Data'].transform('sum')
print(g_ret)
# print(df)

0     55
1    108
2     66
3    121
4     55
5    108
6     66
7    121
Name: Data, dtype: int64

In [183]:
df = pd.DataFrame({
    "c": [1, 1, 1, 2, 2, 2, 2],
    "type": ["m", "n", "o", "m", "m", "n", "n"]
})
print(df)

   c type
0  1    m
1  1    n
2  1    o
3  2    m
4  2    m
5  2    n
6  2    n

In [184]:
df['size'] = df.groupby('c').transform(len)

print(df)

   c type  size
0  1    m     3
1  1    n     3
2  1    o     3
3  2    m     4
4  2    m     4
5  2    n     4
6  2    n     4

In [44]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])


print(df)

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [45]:
agg_ret = df.agg(['sum','min'])

print(agg_ret)

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [49]:
# different agg in per column
agg_ret = df.agg({'A':['sum','min'],'C':['max','min']})
print(agg_ret,df,sep='\n')

        A    C
max   NaN  9.0
min   1.0  3.0
sum  12.0  NaN
     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [54]:
# aggregate different function over column,  and rename the index of the resulting dataframe
g_ret = df.agg(X=('A','max'),VB=('B','min'),PO=('C','sum'))
print(g_ret)

# 每行的中位数
agg_ret_2 = df.agg('mean',axis='columns')
print(agg_ret_2, df, sep='\n')

      A    B     C
X   7.0  NaN   NaN
VB  NaN  2.0   NaN
PO  NaN  NaN  18.0
0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64
     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [55]:
def extract_city_name(df):
        """
        Chicago, IL -> Chicago for city_name column
        """
        df["city_name"] = df["city_and_code"].str.split(",").str.get(0)
        return df

In [56]:
def add_country_name(df, country_name=None):
        """
        Chicago -> Chicago-US for city_name column
        """
        col = "city_name"
        df["city_and_country"] = df[col] + country_name
        return df

In [58]:
df_p = pd.DataFrame({"city_and_code": ["Chicago, IL"]})

print(df_p)

  city_and_code
0   Chicago, IL

In [59]:
df_ret = df_p.pipe(extract_city_name).pipe(add_country_name,country_name='US')

print(df_ret)

  city_and_code city_name city_and_country
0   Chicago, IL   Chicago        ChicagoUS

In [60]:
df = pd.DataFrame(
        {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
   )

print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [61]:
# if - then 
df.loc[df.AAA> 4, 'BBB'] = -10
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5  -10   50
2    6  -10  -30
3    7  -10  -50

In [62]:
# and if-then assignment 2 columns
df.loc[df.AAA>=5,['BBB','CCC']] = 1000
print(df)

   AAA   BBB   CCC
0    4    10   100
1    5  1000  1000
2    6  1000  1000
3    7  1000  1000

In [68]:
df_mask = pd.DataFrame(
    {"AAA": [True] * 4, "BBB": [False] * 4, "CCC": [True, False] * 2}
   )
print(df_mask)

df = df.where(df_mask, -1999)
print(df)

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False
   AAA   BBB   CCC
0    4 -1999   100
1    5 -1999 -1999
2    6 -1999  1000
3    7 -1999 -1999

In [73]:
# if then else : using numpy's where()
df = pd.DataFrame({'AAA':[4,5,6,7],"BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]})

# numpy.where ->  print(df.shape, df, sep='\n')  # (4,3)
df['logic'] = np.where(df['AAA']>5,'high','low')
print(df)

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [77]:
# splitting a frame with a boolean criterion
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df.loc[df.AAA>5])
print(df.loc[df.AAA<=5])
print('*'*100)

print(df)

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   20   50
****************************************************************************************************
   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [86]:
# building create multiple column criteria 
df = pd.DataFrame(
    {'AAA':[4, 5, 6, 7], 'BCA':[10, 20, 30, 40],'NBA':[100, 50, -30, -50]}
)

print(df.shape, df, sep='\n')  # 4,3

(4, 3)
   AAA  BCA  NBA
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [82]:
df.loc[(df.AAA>5) & (df.BCA<40) ,'NBA']

2   -30
Name: NBA, dtype: int64

In [87]:
# or , with assignment modifies DataFrame
df.loc[(df.AAA<6) | (df.BCA<20),'NBA'] = -100

In [88]:
print(df)

   AAA  BCA  NBA
0    4   10 -100
1    5   20 -100
2    6   30  -30
3    7   40  -50

In [89]:
df = pd.DataFrame(
   {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]},
   index=["foo", "bar", "boo", "kar"],
)
print(df)

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [93]:
# There are 2 explicit slicing methods, with a third general case
# Positional-oriented (Python slicing style : exclusive of end)
# Label-oriented (Non-Python slicing style : inclusive of end)
# General (Either slicing style : depends on if the slice contains labels or positions)

print(df.loc['bar':'kar'])
print(df.iloc[1:4])

print(df['bar':'kar'])

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50
     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50
     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [99]:
data = {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
df = pd.DataFrame(data, index=[1,2,3,4])
print(df) 

print(df.iloc[1:3])  # position

print(df.loc[1:3])   # label select

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30
4    7   40  -50
   AAA  BBB  CCC
2    5   20   50
3    6   30  -30
   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [103]:
# Using inverse operator (~) to take the complement of a mask
df = pd.DataFrame(
   {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

print(df)
ret = df.loc[ ~((df.AAA<6) & (df.index.isin([0,1,3])))]
print(ret)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [107]:
# Efficiently and dynamically creating new columns using applymap

df = pd.DataFrame({"AAA": [1, 2, 1, 3], "BBB": [1, 1, 2, 2], "CCC": [2, 1, 3, 1]})

# print(df, df.columns, sep='\n')

source_cols = df.columns
new_cols = [str(col)+'_cat' for col in source_cols]

map_value = {1:'banana',2:'apple',3:'pear'}

df[new_cols] = df[source_cols].applymap(map_value.get)
print(df)

   AAA  BBB  CCC AAA_cat BBB_cat CCC_cat
0    1    1    2  banana  banana   apple
1    2    1    1   apple  banana  banana
2    1    2    3  banana   apple    pear
3    3    2    1    pear   apple  banana

In [126]:
# Keep other columns when using min() with groupby
df = pd.DataFrame(
   {"AAA": [1, 1, 1, 2, 2, 2, 3, 3], "BBB": [2, 1, 3, 4, 5, 1, 2, 3]}
)
print(df)
# idxmin() to get the index of the minimums, BBB为当前A分组下最小的值
index_min = df.groupby('AAA')['BBB'].idxmin()
df_g = df.loc[index_min]
print(df_g)

print('*'*100)

# Method 2 : sort then take first of each
df = df.sort_values(by='BBB')

# as_index， 分组 A字段不作为索引值， 自动创建索引
df_g_2 = df.groupby('AAA',as_index=False).first()
print(df_g_2)

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3
   AAA  BBB
1    1    1
5    2    1
6    3    2
****************************************************************************************************
   AAA  BBB
0    1    1
1    2    1
2    3    2

In [135]:
# ret = pd.date_range('2021-07-08',periods=8)

df = pd.DataFrame(
    np.random.randn(6, 1),
   index=pd.date_range("2013-08-01", periods=6, freq="B"),
   columns=list("A"),
)
print(df)
df.loc[df.index[2],'A'] = np.nan

# 倒序索引
df = df.reindex(df.index[::-1])

print(df.ffill())

                   A
2013-08-01  2.297257
2013-08-02 -0.030905
2013-08-05  0.108722
2013-08-06 -1.080954
2013-08-07  0.392965
2013-08-08 -0.775060
                   A
2013-08-08 -0.775060
2013-08-07  0.392965
2013-08-06 -1.080954
2013-08-05 -1.080954
2013-08-02 -0.030905
2013-08-01  2.297257

In [168]:
# basic grouping with apply

df = pd.DataFrame({
    'animal': 'cat dog fish cat dog cat cat'.split(),
    'size': list('LSMMSLM'),
    'weight':[60,20,12,11,9,9,10],
    'adult':[False]*5 + [True]*2
})

# list the size of the animal with the highest weight
df_g = df.groupby('animal').apply(lambda row: row['size'][row.weight.idxmax()])
print(df, df_g, sep='\n')

  animal size  weight  adult
0    cat    L      60  False
1    dog    S      20  False
2   fish    M      12  False
3    cat    M      11  False
4    dog    S       9  False
5    cat    L       9   True
6    cat    M      10   True
animal
cat     L
dog     S
fish    M
dtype: object
  animal size  weight  adult
0    cat    L      60  False
3    cat    M      11  False
5    cat    L       9   True
6    cat    M      10   True

In [172]:
# apply to different items in a group
def GrowUp(x):
    """
    应用 一组group的df
    :param x: 一组group的df
    :return: 
    """
    avg_weight = sum(x[x['size']=='S']['weight']*1.5)
    avg_weight += sum(x[x['size']=='M']['weight']*1.25)
    avg_weight += sum(x[x['size']=='L']['weight'])
    avg_weight /= len(x)   # 除以 数量
    return pd.Series(['L',avg_weight,True],index=['size','weight','adult'])

# using get_group
gb = df.groupby(['animal'])
print(gb.get_group('cat'))
print(gb.apply(GrowUp))

  animal size  weight  adult
0    cat    L      60  False
3    cat    M      11  False
5    cat    L       9   True
6    cat    M      10   True
       size   weight  adult
animal
cat       L  23.8125   True
dog       L  21.7500   True
fish      L  15.0000   True

In [167]:
# 将 column 转为大写
cols = df.columns
upper_cols = [ col.upper() for col in cols]
df[upper_cols] = df[cols]

df.drop(columns=cols,inplace=True)
# print(df.columns, cols,df, sep='\n')
print(cols, df,sep='\n')

Index(['animal', 'size', 'weight', 'adult'], dtype='object')
  ANIMAL SIZE  WEIGHT  ADULT
0    cat    L      60  False
1    dog    S      20  False
2   fish    M      12  False
3    cat    M      11  False
4    dog    S       9  False
5    cat    L       9   True
6    cat    M      10   True

In [164]:
df = pd.DataFrame({
    'animal': 'cat dog fish cat dog cat cat'.split(),
    'size': list('LSMMSLM'),
    'weight':[60,20,12,11,9,9,10],
    'adult':[False]*5 + [True]*2
})

In [175]:
import functools

s = pd.Series([i/100.0 for i in range(1,11)])

def cum_ret(x,y):
    return x* (1+y)

def red(x):
    return functools.reduce(cum_ret,x,1.0)


ret = s.expanding().apply(red,raw=True)
print(ret)

0    1.010000
1    1.030200
2    1.061106
3    1.103550
4    1.158728
5    1.228251
6    1.314229
7    1.419367
8    1.547110
9    1.701821
dtype: float64

In [181]:
df = pd.DataFrame({"A": [1, 1, 2, 2], "B": [1, -1, 1, 2]})
# print(df)
def replace(g):
    mask = g < 0
    return g.where(mask, g[~mask].mean())

ret = df.groupby('A').transform(replace)
print(ret)
# print(df.groupby('A').get_group(2))

     B
0  1.0
1 -1.0
2  1.5
3  1.5